<body>
  <header class="p-4">
    <h1 class="h1">Grid</h1>
    <h4>Grid es un sistema de diseño <b>bidimensional</b> para crear layouts de página complejos de manera sencilla y
      precisa. Utiliza una cuadrícula compuesta por filas y columnas, permitiendo colocar y organizar elementos en ambas
      dimensiones simultáneamente.
    </h4>
    <br>
    <h4><b>Enfoque:</b> Bidimensional. Se utiliza para diseñar tanto filas como columnas simultáneamente.</h4>
    <h4><b>Uso:</b> Perfecto para crear layouts complejos de páginas, donde se necesita un control detallado sobre la
      colocación de los elementos en ambas dimensiones.</h4>
    <h4><b>Ejemplos de uso:</b> Diseños de página completa, estructuras de cuadrícula complejas, diseño de plantillas.
    </h4>
    <br>
  </header>

</body>