div.main__general-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
}

.example__container {
  margin: 15px;
}

.parent__container {
  display: block;
}

.child {
  width: 150px;
  height: 150px;
  background: cadetblue;
}

.child:first-child {
  background: lightseagreen;
}

.child:last-child {
  background: lightblue;
}