<body>
  <header class="p-4">
    <h1 class="h1">Flexbox</h1>
    <h4>Flexbox, o el modelo de caja flexible, es una técnica de diseño en CSS que permite crear páginas adaptables y
      eficientes.
    </h4>
    <br>
    <h4><b>Enfoque:</b> Unidimensional. Se utiliza principalmente para diseñar una sola dimensión a la vez, ya sea una
      fila o una columna.</h4>
    <h4><b>Uso:</b> Ideal para la distribución y alineación de elementos dentro de un contenedor, especialmente cuando
      se necesita que los elementos se adapten dinámicamente al espacio disponible.</h4>
    <h4><b>Ejemplos de uso:</b> Menús de navegación, alineación de botones, distribución de elementos en un solo eje.
    </h4>
    <br>
  </header>
  <main>
    <div class="main__general-container">
      <div class="example__container">
        <section class="parent__container">
          <div class="child text-center">a</div>
          <div class="child text-center">b</div>
          <div class="child text-center">c</div>
        </section>
      </div>
      <div class="explanation__container">
        <h2>Display flex</h2>
      </div>
    </div>

  </main>
</body>