<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid justify-content-start">
    <span class="navbar-brand mb-0 h1">URBISMAP_CAP</span>
    <div class="d-flex justify-content-start align-items-center">
      <ul class="d-flex flex-row list-unstyled align-items-center m-0">
        <li routerLinkActive="active">
          <a routerLink="examples/methods" class="d-block text-white text-decoration-none ps-2 pe-2">
            Ejemplos métodos JS
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="charts/charts-dashboard" class="d-block text-white text-decoration-none ps-2 pe-2">
            Charts dashboard
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="examples/filters-api" class="d-block text-white text-decoration-none ps-2 pe-2">
            Filtro API
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>