* {
  margin: 0px;
  padding: 0px;
  /* font-size: 62.5%; */
  box-sizing: border-box;
}


/*Variables*/

:root {
  --color1: #075760;
  --color2: #19868F;
  --color3: #43B6BD;
  --color4: #4CC4D3;
  --color-barra: #E2ECF1;
  --color-header-principal: #00828E;
  --color-barra-cmpartida: #eaf0f4;
  --verde-boton-action: #8BF8C8;
  --color-sub-head: #00838E;
  --agua-potable: #56C8D8;
  --drenaje-pluvial: #D95030;
  --drenaje-sanitario: #808080;
  --directa: #E88329;
  --publica: #03C8D8;
  --restringida: #00838E;
  --interfaz-mapa: #90EEB5;
  --color-activo: #3498a5;
  --header-size: 4rem;
  --family: "Work Sans";
}

html,
body {
  width: 100%;
  margin: 0;
  font-family: 'Work Sans', Roboto, "Helvetica Neue", sans-serif;
  color: var(--color1);
  line-height: normal;
}

rect {
  fill: rgb(38, 38, 38);
  stroke: rgb(198, 255, 161);
  stroke-width: 1px;
}

// Estilos de scroll

/* body {
  --scrollbar-thumb-color: var(--interfaz-mapa);
  --scrollbar-track-color: #E4E4E6;
  --show-double-buttons: none;
  --scrollbar-border-thickness: 0px;
  --scrollbar-height: 10px;
  --scrollbar-width: 10px;
}

body::-webkit-scrollbar {
  width: var(--scrollbar-width, 20px);
  height: var(--scrollbar-height, 20px);
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #3B82F6);
  border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #A1A1AA);
}

body::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner-color, #FFFFFF);
  border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-button:vertical:start:increment,
#preview::-webkit-scrollbar-button:vertical:end:decrement,
#preview::-webkit-scrollbar-button:horizontal:start:increment,
#preview::-webkit-scrollbar-button:horizontal:end:decrement {
  display: var(--show-double-buttons, none);
} */