<div class="container-fluid">
  <h1 class="d-flex flex-row justify-content-center fs-1">Gráficas con D3.js</h1>
  <!--  -->
  <div class="row">
    <div class="col-4">
      <div class="chart">
        <app-chart-1-visual></app-chart-1-visual>
      </div>
    </div>
    <div class="col-4">
      <div class="chart">
        <app-chart-2-visual [data]="this.data$ | async"></app-chart-2-visual>
      </div>
    </div>
    <div class="col-4">
      <div class="chart">
        <app-chart-3-visual [data]="this.data$ | async"></app-chart-3-visual>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-4">
      <!-- Gráfica de líneas - Reportes SIMAS -->
      <div class="chart">
        <select class="line-chart-options" (change)="changeYearLineChart($event)">
          <option value="2021" selected> 2021 </option>
          <option value="2022"> 2022 </option>
          <option value="2023"> 2023 </option>
          <option value="2024"> 2024 </option>
        </select>
        <app-chart-4-visual [data]="this.data2$ | async" [colorPallete]="colorsPalette"
          [selectedYear]="this.year"></app-chart-4-visual>
      </div>
    </div>
    <div class="col-4">
      <div class="chart">
        <select class="chart-options" (change)="pieSelectedData($event)">
          <option value="now">Ahora</option>
          <option value="before">Antes</option>
        </select>
        <app-chart-5-visual [data]="this.pieData"></app-chart-5-visual>
      </div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>

  </div>
</div>