<div class="container-fluid">
  <h1 class="d-flex flex-row justify-content-center fs-1">Gráficas con D3.js</h1>
  <!--  -->
  <div class="row">
    <div class="col-4">
      <div class="chart">
        <app-chart-1-visual></app-chart-1-visual>
      </div>
    </div>
    <div class="col-4">
      <div class="chart">
        <app-chart-2-visual [data]="this.data$ | async"></app-chart-2-visual>
      </div>
    </div>
    <div class="col-4">
      <div class="chart">
        <app-chart-3-visual [data]="this.data$ | async"></app-chart-3-visual>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>

  </div>
</div>